*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 24px;
  font-family: $ff-montserrat;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  transition: background-color 0.2s ease-in-out;
  background-color: var(--color-primary);
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  color: var(--font-color);
  transition: color 0.2s ease-in-out;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;
}

button:focus {
  outline: none;
}

label {
  margin: 0;
}

input {
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
